<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cslg.graduation.mapper.FocusMapper">

    <!-- 查询出所有的用户行为 -->
    <select id="listAllFocus" resultType="com.cslg.graduation.entity.Focus" >
        SELECT user_id userId, hobby_id HobbyId, hits
        FROM focus
    </select>

    <!-- 根据用户已有的行为信息获取它对某篇博客的点击量 -->
    <select id="getHistsByFocus" parameterType="com.cslg.graduation.entity.Focus" resultType="java.lang.Integer">
        SELECT hits FROM focus
        WHERE user_id = #{userId} AND hobby_id = #{hobbyId}
    </select>

    <!-- 统计某个用户的行为记录的条数 -->
    <select id="countFocus" parameterType="com.cslg.graduation.entity.Focus" resultType="integer">
        SELECT COUNT(*) FROM focus
        WHERE user_id = #{userId} AND hobby_id = #{hobbyId}
    </select>


</mapper>