<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cslg.graduation.mapper.UserSimilarityMapper">
    <!-- 所有用户相似度表的字段-->
<!--    <sql id="all_user_similarity_colums">-->
<!--        user_id,user_ref_id,similarity-->
<!--    </sql>-->

    <!-- 添加用户相似度 -->
    <insert id="saveUserSimilarity" parameterType="com.cslg.graduation.dto.UserSimilarityDTO">
        INSERT INTO similary(user_id,user_ref_id,similarity)
        VALUES (#{userId},#{userRefId},#{similarity})
    </insert>

    <!-- 更新用户相似度数据 -->
    <update id="updateUserSimilarity" parameterType="com.cslg.graduation.dto.UserSimilarityDTO">
        UPDATE similary
        SET similary = #{similarity}
        WHERE user_id = #{userId} AND user_ref_id = #{userRefId}
    </update>

    <!-- 判断两个用户之间的相似度是否已经存在 -->
    <select id="countUserSimilarity" parameterType="com.cslg.graduation.dto.UserSimilarityDTO" resultType="integer">
        SELECT COUNT(*) FROM similary
        WHERE user_id=#{userId} AND user_ref_id = #{userRefId}
        OR user_ref_id=#{userId} AND user_id = #{userRefId}
    </select>

    <!-- 查询某个用户与其他用户之间的相似度列表 -->
    <select id="listUserSimilarityByUId" parameterType="integer" resultType="com.cslg.graduation.dto.UserSimilarityDTO">
        SELECT user_id,user_ref_id,similarity
        FROM similary
        WHERE user_id = #{userId} OR user_ref_id=#{userId}

    </select>
</mapper>